/* Header Top Part Start */
.contHeaderTop{
  background: #05ffa3;
}

.headerTop{
  color: #1A1A1A;
  display: flex;
  justify-content: space-between;
}

.headerMain{
  color: #1A1A1A;
  display: flex;
  justify-content: space-between;
}
/* Header Top Part End */

/* Banner Part Start */
.bannerimg{
  height: 550px;
}
/* Banner Part End */